<div class="tagesplan" style="text-align:center">

  <ul>
    <li *ngFor="let pflegekunde of tageskunden" (click)="onSelect(pflegekunde)" routerLink="/detail/{{pflegekunde.id}}">
      <div class="tageskunde">
        <div class="ruleer">
          <b class="red-line"></b>
          <div class="dotinline">
          <svg height="20" width="20">
            <circle cx="5" cy="10" r="9" stroke="#78B0C1"  fill="#78B0C1" />
          </svg>
        </div>
        </div>
        <div class='patientname'>
          <div>
            <label>{{pflegekunde.vorname}}
                </label>
            <label>{{pflegekunde.name}}
                      </label>
          </div>
          <div>
            <label>{{pflegekunde.adresse}}
                              </label>
          </div>
          <div class="zeitlabel">
            <label>{{pflegekunde.zeit}}
                              </label>
          </div>
        </div>
        <div class="clocktime">

          <label>{{pflegekunde.dauer}} h
                            </label>

        </div>

        <div class="locationimg">

          <img  src="../../assets/Icons/Pfad 21@3x.png" alt="click here for location"/>


        </div>




      </div>

    </li>
  </ul>
  <button class="sent">los</button>
