tageskunde{
  margin: 10px;
  border-radius:4 px;
  border-style: solid;
  border: 1px;
}
.zeitlabel{
   opacity: 0.6;
}
.maingrid{
display: grid;
}

.overview{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr 1fr 1fr;
  padding-top:40px;
  max-width: 800px;
}

.todayLabel {
  opacity: 0.5;
  margin-left: 100px;
  margin-top: 30px;
}

.yesterday{text-align: left;
  margin-left: 100px;}

.today{
  text-align: left;
  margin-left: 100px;
}
.commomInfo{
  text-align: left;
    margin-left: 100px;
}

.protokoll{
  min-width: 400px;
  min-height: 100px;
}
.smallertext{
  font-size: 24px;
  text-align: left;
  max-width: 800px;

}
