<div class='main'>
  <div class='navigation'>
    <div class="menubar">
    <img src="../../assets/Icons/noun_936869_cc@3x.png" routerLink="/dashboard" routerLinkActive="active">
    <div class="logo">
      <div>
        <img src="../../assets/Icons/Logo.png" class="logo">
      </div>

  </div>
  <div class="logout">
    <div class="logoutpanel">
        <img src="../../assets/Icons/Pfad 28@3x.png" class="logout">
    </div>
</div>
</div>


  </div>
  <div class="routing-panel">

    <router-outlet></router-outlet>
  </div>
