@import url('https://fonts.googleapis.com/css?family=Open Sans');
.main {
  display: grid;
  grid-template-rows: 1fr auto;
  font-face: Source Sans Pro;
  font-size: 24px;
  min-width: 100vw;
  min-height: 100vh;
}

.navigation {
  min-width: 100vw;
  min-height: 14vh;
  background-color: #78B0C1;
}

.routing-panel {
  grid-row: 2;
  min-width: 100vw;
  min-height: 86vh;
}

.logo {
  margin-left: 20px;
  max-height: 50px;
}

.menubar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #78B0C1;
}

.main {
  width: 100%;
}

.logo {
  display: inline-block;
}

.logout {
  right: 20px;
}

.logoutpanel {
  text-align: right;
}
