@import url('https://fonts.googleapis.com/css?family=Open Sans');

.main{
  display:grid;
  grid-template-rows: 1fr auto;
  font-face:Source Sans Pro;
  font-size:24px;

}

.navigation{
    padding:50px;
    background-color: #78B0C1;
    min-width: 100%;

}

.routing-panel{
  grid-row: 2;
}
