<!--The content below is only a placeholder and can be replaced.-->
<div class="dashboard">
 <div class="middle">
  <div class='tour'>
    <div routerLink="/tagesplan" routerLinkActive="active">
  <img  src="../../assets/Icons/Pfad 19@3x.png" alt="click here for the daily tour "/>
<label>Tour</label></div>
  </div>
      <div class='patientenkartei'>
        <div routerLink="/kartei" routerLinkActive="active">
<img src="../../assets/Icons/Pfad 18@3x.png" alt="click here for all the patients "/>
<label>Patientenkartei</label>
</div>
      </div>

  <div class='messenger'>
    <div routerLink="/messenger" routerLinkActive="active">
<img  src="../../assets/Icons/Pfad 20@3x.png" alt="click here for all the messenger"/>
<label> Messenger</label>
</div>
  </div>
</div>


</div>
