
label{
  font-size: 40px;
  font-family: Open Sans;
  font-weight: bold;
}

label:visited {
      color:#D4CC2D;
}

img{
  min-width: 60px;
  min-height: 60px;
  padding-right: 10px;
  position: absolute;
  top: -3px;
  left: -100px;
}

.dashboard{
 background-color: #78B0C1;
 min-height: 86vh;
 display: grid;

}

.middle{
margin:auto;
}


label{
  font-size: 40px;
  font-face: Open Sans;
  font-weight: bold;
  margin: auto;
  color:#FFFFFF
}

.tour{
  position: relative;
  margin-bottom: 20px;
}

.patientenkartei{

  position: relative;
    margin-bottom: 20px;
}


.messenger{

  position: relative;


}
