
label{
  font-size: 40px;
  font-family: Open Sans;
  font-weight: bold;
}

label:visited {
      color:#D4CC2D;
}

img{
  min-width: 60px;
  min-height: 60px;
}

.dashboard{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 background-color: #78B0C1;
 min-width: 100%;
}

.middle{
  padding-top: 200px;
  grid-column: 2;
}


label{
  font-size: 40px;
  font-face: Open Sans;
  font-weight: bold;
  margin: auto;
  color:#FFFFFF
}

.tour{

}

.patientenkartei{

}


.messenger{



}
